//
// Other
// ------------------------------

body {
  background-color: black;
}

.main-area {
  margin-top: 15px;

  font-size: 18px;
  color: #20C20E;

  .fixed-width {
    width: 800px;
  }

  .attempt {
    display: inline-block;
    width: 19px;
    height: 21px;

    background-color: #139705;
  }
}
